project_name = "My album"

aws_profile = "my_aws_profile"

aws_region = "ap-southeast-2"

s3_bucket_name = "mybucket"

top_level_domain = "example.com"

website_domain = "www.example.com"

contact_email = "contact@example.com"

acm_cert_arn = "arn:aws:acm:us-east-1:XXXXXX/XXXXXX"

cf_logging_bucket = "logging_bucket_name.s3.amazonaws.com"

cf_logging_prefix = "log_prefix"
